# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Idea files
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

trackfind.properties
archive
indices
target
out