@import "../valo/valo.scss";

@mixin trackfind {
  @include valo;

  .scrollable-text-area {
    overflow-y: auto;
  }

  .value-tree-node {
    color: graytext;
    font-style: italic;
  }

  .no-children-tree-node {
    background: none;
  }

}