@import "../valo/valo.scss";

@mixin trackfind {
  @include valo;

  .scrollable-text-area {
    overflow-y: auto;
  }

  .value-tree-node {
    color: graytext;
    font-style: italic;
  }

  .standard-tree-node {
    font-weight: bold;
  }

  .v-grid-row.green > td {
    background-color: #9eff61;
  }

  .v-grid-row.yellow > td {
    background-color: #ffff59;
  }

  .v-grid-row.white > td {
    background-color: ghostwhite;
  }

  .v-tree8-row-focused::before {
    border: transparent;
  }

  .green {
    background-color: #9eff61;
  }

  .yellow {
    background-color: #ffff59;
  }

}
